.header
  background-color #f00
  display flex
  align-items center
  margin-bottom 10px
  padding 0 20px

  &__container
    padding 10px
    display flex
    list-style none
    margin-left 50px

    > li
      margin-right 12px